body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: rgb(3, 150, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 35px;
    align-items: center;
}

li {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: white;
}


.headerlogo {
    width: 90px;
    height: auto;
    padding: 11px 40px;
    padding-right: 0px;
}

.icon {
    width: 40px;
    height: auto;
    padding: 11px 10px;
}

.left {
    display:flex;
    gap: 30px;
}

.right {
    padding-right: 40px;
}

.subheader {
    display: flex;
    background-color: #E5E7EB;
    height: 625px;
    align-items: center;
    justify-content: space-evenly;
}

.subheadleft {
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

.subheadtext {
    font-size: 50px;
    font-weight: bold;
}

.subheaddesc {
    margin-top: 10px;
    font-size: 30px;

}

.headerimg {
    width: 600px;
    height: auto;
}

button.SignUp,
button.SignUp2 {
    background: rgb(3, 150, 3);
    border: 1px solid rgb(3, 150, 3);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 23px;
    border-radius: 10px;
    font-weight: bold;
}

button.SignUp2 {
    border: 2px solid white;
    margin-top: auto;
}

.content-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.contentimg {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.info,
.infotitle {
    max-width: 300px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.info {
    font-size: 20px;
}

.infotitle {
    font-size: 30px;
    font-weight: bold;
}

.testimony {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    row-gap: 40px;
}

.testimony-text {
    max-width: 800px;
}

.testimony-name {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 30px;
}

.action-call{
    display:flex;
    align-items: center;
    justify-content: center;
}

.cta-container {
    margin: 100px 200px;
    background-color: rgb(47, 197, 47);
    width: 900px;
    height: auto;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 140px;
}

.cta-title {
    font-size: 30px;
    font-weight: bold;
}
.cta-text {
    font-size: 20px;
}

.cta-left {
    display:flex;
    flex-direction: column;
}

.cta-right {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 150, 3);
    color: white;
    font-size: 20px;
    padding: 35px;
}

.header,
.subheaddesc,
.info,
.testimony,
.action-call,
.footer {
    font-family: 'Arial';
}

.subheadtext,
.content-title {
    font-family: 'Helvitica';
}